@{
    ViewData["Title"] = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>My Gram</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th >My Gram</th>
                <th ><button>Log In</button></th>
                <th ><button>Sign up</button></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Image 1</td>
                <td>Image 2</td>
                <td>Image 3</td>
            </tr>
            <tr>
                <td>Image 4</td>
                <td>Image 5</td>
                <td>image 6</td>
            </tr>

        </tbody>
    </table>






</body>

</html>