@{
    ViewData["Title"] = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>My Gram</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>My Gram</th>
                <th><button>Log In</button></th>
                <th><button>Sign up</button></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img style="width:100px; height:100px" alt="Canyon" src="https://i.insider.com/5f15f6711918247799320f67?width=700&format=jpeg&auto=webp" /></td>
                <td><img style="width:100px; height:100px" alt="Palms" src="https://media-cdn.tripadvisor.com/media/photo-s/12/73/a7/88/nice-views.jpg" /></td>
                <td><img style="width:100px; height:100px" alt="Lake" src="https://media-cdn.tripadvisor.com/media/photo-s/12/05/70/48/photo6jpg.jpg" /></td>
            </tr>
            <tr>
                <td><img style="width:100px; height:100px" alt="Ocean" src="https://media-cdn.tripadvisor.com/media/photo-s/0a/8b/b0/a0/beach-view.jpg" /></td>
                <td><img style="width:100px; height:100px" alt="Sky" src="https://media-cdn.tripadvisor.com/media/photo-s/0b/ad/62/e4/entrance-to-carambola.jpg" /></td>
                <td><img style="width:100px; height:100px" alt="Clouds" src="https://media-cdn.tripadvisor.com/media/photo-s/10/12/10/77/photo0jpg.jpg" /></td>
            </tr>

        </tbody>
    </table>






</body>

</html>