<form id="user" method="get" action="~/Home/SaveUser">


    <fieldset>
        <legend>User Information</legend>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="UserName">User Name:</label>
                    </td>
                    <td>
                        <input id="UserName" name="username"type="text" value="" />
                    </td>
                    <br />
                    <td>
                    <label for="password">Password:</label>
                    </td>
                    <td>
                    <input id="password" name="password" type="text" />
                
                    </td>
                    <td>
                        <button type="submit" form="user" value="Submit">Register</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>
<br/>
<br />
<a href="~/Home/Index">Go Back To Home Page</a>