

<html>

<fieldset>
    <legend>User Information</legend>
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="">First Name:</label>
               
                
                    <input type="text" id="" placeholder="Add First Name" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for"">Last Name:</label>
                    <input type="text="" id="" placeholder="Add Last Name"/>
                </td>
            </tr>

        <tr>
            <td>
            <label>Gender:</label>

            <input type="radio" id="MaleGender" name="gender" />
            <label for="MaleGender">Male</label>
        
            <input type="radio" id="FGender" name="gender"/>
            <label for="FGender">Female</label>
      
            <input type="radio" id="PNR" name="gender"/>
            <label for="PNR">Prefer Not To Respond</label>
        </td>
        </tr>
        <tr>
            <td>
                <label for"">Email Address:</label>
                <input type="text" id="" placeholder="Add your Email Address">
            </td>
        </tr>
        <tr>
            <td>
                <label for"">County of Residence:</label>
                <input type="text" id="" />
            </td>
        </tr>
            <tr>
                <td>
                <button>Update User Information</button>
                </td>
            </tr>




        </tbody>
    </table>
</fieldset>

<a href="~/Home/Index">Go Back To Home Page</a>

