

<html>

<fieldset>
    <legend>User Information</legend>
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="">First Name:</label>
               
                
                    <input type="text" id="" placeholder="Add First Name" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for"">Last Name:</label>
                    <input type="text="" id="" placeholder="Add Last Name"/>
                </td>
            </tr>

        <tr>
            <td>
            <label>Gender:</label>

            <input type="radio" id="MaleGender" name="gender" />
            <label for="MaleGender">Male</label>
        
            <input type="radio" id="FGender" name="gender"/>
            <label for="FGender">Female</label>
      
            <input type="radio" id="PNR" name="gender"/>
            <label for="PNR">Prefer Not To Respond</label>
        </td>
        </tr>
        <tr>
            <td>
                <label>Choose favorite color</label>

            </td>
            <td>
                <input type="color" id="Favoritecolor" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="Birthday">Birthday</label>
            </td>
            <td>
                <input type="date" id="Birthday" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label for="Email">Email:</label>
                <input type="email" id="Email" placeholder="Add your Email Address">
            </td>
        </tr>
        <tr>
            <td>
                <label for"">County of Residence:</label>
                <input type="text" id="" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="ProfilePIcture">Select profile picture:</label>
            </td>
            <td>
               <input type="file" id="ProfilePicture" />
            </td>
        </tr>
            <tr>
                <td>
                <button>Update User Information</button>
                </td>
            </tr>




        </tbody>
    </table>
</fieldset>

<a href="~/Home/Index">Go Back To Home Page</a>

