
body {
    background-color: #fafafa;
    
}

#img1 {

    border-radius: 50%;

}

#mygram {
  font-family: 'Apple Chancery'
}


.GramButtons {
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    border-color: dodgerblue;
}

    .GramButtons:hover {
        background-color: royalblue;
        color: white;
        border-radius: 5px;
        border-color: royalblue;
        text-decoration: none;
    }

.GramButtons1 {

  
    border-radius: 10px;
}

footer a {
    color: #cccccc;
}

.posts a {

    color: gray;
    text-decoration: none;

}

    .posts a:hover {
        color: black;
        text-decoration: none;
    }


#avatar {
    width: 465px;
}

#avatar2 {
    width: 465px;
}

footer {

    text-align:center;

}



.avatarimg {
    border-radius: 50%;


}

.PositionClass {
    clear: both;
    position: fixed;
    width: 100%;
    background-color: RGBA(0,0,0,.8);
    backdrop-filter: blur(5px);
    bottom: 0px;
    left: 0px;
}



#GramButtons1 {
    
    color: dodgerblue;
  
}

.botones {

    right: 20px;

}
