
body {
    background-color: #fafafa;
    
}

#img1 {

    border-radius: 50%;

}

#mygram {
  font-family: 'Apple Chancery'
}


.GramButtons {
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    border-color: dodgerblue;
}

    .GramButtons:hover {
        background-color: royalblue;
        color: white;
        border-radius: 5px;
        border-color: royalblue;
        text-decoration: none;
    }

.GramButtons1 {

    border-radius: 10px;

}

footer a {
    color: #cccccc;
}

.posts a {

    color: gray;
    text-decoration: none;

}

    .posts a:hover {
        color: black;
        text-decoration: none;
    }